{% extends 'base.html.twig' %}

{% block title %}
	Page location
{% endblock %}

{% block description %}
	Page that contains location information
{% endblock %}

{% block header %}

	📢 Location

{% endblock %}


{% block main %}

	<ul>
		<li>
			<b>Address:</b>
			{{location.address}}
			{{location.addressNumber}}</li>
		<li>
			<b>zip code</b>:
			{{location.zipCode}}
		</li>
	</ul>
{% endblock %}

{% block footer %}{% endblock %}
