<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Case ad Anversa</title>

    <link href="https://unpkg.com/gridjs/dist/theme/mermaid.min.css" rel="stylesheet" />

</head>

<body>
    <h1>Case ad Anversa</h1>
    <div id="wrapper"></div>


    <script src="https://unpkg.com/gridjs/dist/gridjs.umd.js"></script>

    <script>
        fetch('/api/houses/listings/0', {
                headers: {
                    accept: 'application/json'
                }
            })
            .then(response => response.json())
            .then(data => {
                console.log(data);

                const grid = new gridjs.Grid({
                    columns: [{
                        id: 'id',
                        name: 'ID'
                    }, {
                        id: 'name',
                        name: 'Name'
                    }, {
                        id: 'price',
                        name: 'Price'
                    }, {
                        id: 'extra_costs',
                        name: 'Extra costs'
                    }, {
                        id: 'url',
                        name: 'Url'
                    }],
                    data: data
                }).render(document.getElementById("wrapper"));
            })
    </script>
</body>

</html>