<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}{% endblock %}
		</title>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="{% block description %}{% endblock %}">

		{% block stylesheets %}
			{# 'app' must match the first argument to addEntry() in webpack.config.js #}
			{{ encore_entry_link_tags('water') }}
			{{ encore_entry_link_tags('themeGrid') }}
		{% endblock %}
	</head>
	<body class="{% block bodyClasses %}{% endblock %}">
		<header>
			<h1>
				{% block header %}{% endblock %}
			</h1>
		</header>

		<main>
			{% block main %}{% endblock %}
		</main>
		<footer>
			<br>
			{% block footer %}{% endblock %}
		</footer>


	</body>
</html>
